@model PWEB_TP.Models.Buy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Buy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clients.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <table class="table">
            <tr>
                <th>
                    <h5>Name</h5>
                </th>
                <th>
                    <h5>Price</h5>
                </th>
            </tr>
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </table>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
